@import 'tailwindcss';

/* :root {
  --color-done: #ef4351;
  --color-almost-done: #f68e96;
  --color-todo: #9ad35b;
  --color-making: #ffc000;
  --color-incomplete: #decccc;
  --color-dark-accent: #272727;
} */

@theme {
  /* Theme */
  --color-primary: var(--joy-palette-primary-500);
  --color-neutral-100: var(--joy-palette-neutral-100);
  --color-neutral-200: var(--joy-palette-neutral-200);
  --color-neutral-300: var(--joy-palette-neutral-300);
  --color-neutral-400: var(--joy-palette-neutral-400);
  --color-neutral: var(--joy-palette-neutral-500);

  /* Programada table */
  --color-done: #f05663;
  --color-almost-done: #f68e96;
  --color-todo: #9ad35b;
  --color-making: #ffc000;
  --color-incomplete: #decccc;
  --color-dark-accent: #272727;
  --color-row-hover: #85c7f2;

  /* Machine stops */
  --color-stop-off: var(--color-incomplete);
  --color-stop-general: #f7b5bd;
  --color-stop-target: #6f2dbd;
  --color-stop-electronico: var(--color-making);
  --color-stop-mecanico: var(--color-done);
  --color-stop-produccion: #8c2a3f;
  --color-stop-hilado: #edbe66;
  --color-stop-repuesto: #f88b32;
  --color-stop-muestra: var(--color-todo);
  --color-stop-cambio: #072ac8;
  --color-stop-turbina: #79e0e2;

  /* Charts */
  --color-chart-green: #87cc3e;
  --color-chart-yellow: #ffc000;
  --color-chart-red: #ed3140;

  /* Cambios */
  --color-turno-1: var(--color-incomplete);
  --color-turno-2: var(--color-stop-turbina);
  --color-turno-3: var(--color-stop-repuesto);
}
